{% extends 'base.html.twig' %}

{% block title %}Изменение новости{% endblock %}

{% block body %}
    <h2 class="col-sm-12 text-center">Список новостей</h2>

    <div class="content">
        {% for news in newsForEdit %}
            <!-- Invoice grid -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel invoice-grid">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="text-semibold no-margin-top"> {{ news.title }} </h5>
                                </div>

                                {% if news.imageUrl %}
                                    <div class="col-sm-12">
                                        <span class="no-margin-top">
                                            <img class="news-img"
                                                 src="{{ asset('uploads/ImageForNews') }}/{{ news.imageUrl }}"
                                            >
                                        </span>
                                    </div>
                                {% endif %}

                                <div class="col-sm-12">
                                    <p class="no-margin-top"> {{ news.description|raw }} </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer panel-footer-condensed">
                            <div class="heading-elements">
                                <span class="heading-text">
                                    <span class="status-mark border-success-600 position-left"></span>
                                    Дата создания:
                                    <span class="text-semibold"> {{ news.createdNews|date('Y-m-d') }} </span>
                                </span>

                                <ul class="list-inline list-inline-condensed heading-text pull-right">
                                    {% if news.active == 0 %}
                                        <li>
                                            <a href="{{ path('news_confirmation', {news: news.id}) }}" class="text-default">
                                                <i class="icon-checkmark"></i>
                                            </a>
                                        </li>
                                    {% endif %}

                                    <li>
                                        <a href="{{ path('edit_news', {news: news.id}) }}" class="text-default">
                                            <i class="icon-pencil5"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{{ path('delete_news', {news: news.id}) }}" class="text-default">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /invoice grid -->
        {% endfor %}
    </div>
{% endblock %}