<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} S.E.T. {% endblock %}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/css/core.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/css/components.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/css/colors.css') }}" rel="stylesheet" type="text/css">

            <script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/pace.min.js') }}"> </script>
            <script type="text/javascript" src="{{ asset('assets/js/core/libraries/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/core/libraries/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/blockui.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('assets/js/pages/uploader_bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/plugins/uploaders/fileinput.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('assets/js/core/app.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/ripple.min.js') }}"></script>


            <script type="text/javascript" src="{{ asset('assets/js/plugins/editors/summernote/summernote.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/pages/editor_summernote.js') }}"></script>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <style>
            td, p, ol.list, ul.list {
                font-size: 16px !important;
            }

            h1 {
                text-transform: uppercase;
            }
        </style>
    </head>


    <body class="layout-boxed navbar-top">

    {% block navigation %}

    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-success-600 navbar-fixed-top">

        <div class="navbar-header">
            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile" ng-app="MenuStyleApp" ng-controller="ActiveMenuController">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="btn dropdown-toggle" href="{{ path('homepage') }}">
                        Главная
                    </a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="dropdown" ng-class="active" ng-mouseenter="activeMenu()" ng-mouseleave="passiveMenu()">
                        <a href="#" class="dropdown-toggle btn" data-toggle="dropdown">
                            <i class="icon-menu7 position-left"></i> Управление <span class="caret xs-notVisible"></span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-menu">
                            <li><a href="{{ path('create_news') }}"><i class="icon-plus2"></i> Создание новости</a></li>
                            <li><a href="{{ path('show_admin_news') }}"><i class="icon-pencil5"></i> Изменение новостей</a></li>
                        </ul>

                    </li>
                {% endif %}

                <li class="dropdown"> <a class="btn" href="{{ path('regulations') }}"><span>Правила экономии</span></a> </li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') != 'true'  %}
                    <li class="dropdown"> <a class="btn" data-toggle="modal" data-target="#createNews"><span>Предложить новость</span></a> </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="dropdown dropdown-user"><a class="btn" href="{{ path('security_logout') }}"><span>Выход</span></a></li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') != 'true' %}
                    <li class="dropdown dropdown-user"><a class="btn" href="{{ path('security_login_form') }}"><span>Вход</span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
     {% endblock %}


    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    {% block body %}
                    {% endblock %}

                     <div class="footer text-muted">
                         &copy; 2017 <a class="text-grey-600 text-semibold" href="{{ path('homepage') }}">S.E.T.</a> by <a class="text-grey-600 text-semibold" href="https://www.instagram.com/gapanovich_vadim/" target="_blank">Вадим Гапанович</a> &  <a class="text-grey-600 text-semibold" href="https://www.instagram.com/gapanovich.vlad/" target="_blank">Влад Гапанович</a>
                     </div>
                </div>
              <!-- Content area -->
           </div>
           <!-- Main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->


    {% if not app.user %}
    <!-- Inline form modal -->
    <div id="createNews" class="modal fade">
        <div class="modal-dialog modal-lg">
            <!-- Content area -->
            <div class="content pb-20">
                <!-- Tabbed form -->
                <div class="tabbable panel">
                    {{ form_start(addNewsForm, { attr: { action: path('homepage') }}) }}
                    <div class="panel center-block">
                        <div class="panel-heading text-center">
                            <div class="icon-object border-success text-success">
                                <i class="icon-plus3"></i>
                            </div>

                            <h5 class="content-group">
                                Создайте новость
                            </h5>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="form-group">
                                        {{ form_row(addNewsForm.title, { attr: { class: 'form-control' } }) }}
                                    </div>

                                    <div class="media-body text-center">
                                        {{ form_row(addNewsForm.file, { attr: { class: 'file-input'} }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group pt-20">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_row(addNewsForm.description, { attr: { class: 'form-control summernote' } }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <button class="btn btn-primary legitRipple" name="register_button">
                                                Создать
                                                <i class="icon-arrow-right14 position-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        {% for error in errors %}
                            <div style="padding-left:30px;">
                                <p class="label label-danger">{{ error }}</p><br>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- /tab-pane fade -->
                    {{ form_end(addNewsForm) }}
                </div>
                <!-- /content area -->
            </div>
            <!-- /page-container -->
        </div>
        <!-- /modal dialog -->
    </div>
    <!-- /modal fade -->
    {% endif %}
    </body>
</html>
