{% extends 'base.html.twig' %}

{% block title %} Калькулятор {% endblock %}

{% block body %}
    <h2 class="col-sm-12 text-center">
        Калькулятор
    </h2>

   <div class="content">


       <!-- Inline form modal -->
       <div id="createNews" class="modal fade">
           <div class="modal-dialog modal-lg">
               <!-- Content area -->
               <div class="content pb-20">
                   <!-- Tabbed form -->
                   <div class="tabbable panel width-400">
                       {{ form_start(addNewsForm)  }}
                       <div class="panel center-block">
                           <div class="panel-heading text-center">
                               <div class="icon-object border-success text-success">
                                   <i class="icon-plus3"></i>
                               </div>

                               <h5 class="content-group">
                                   Create News <small class="display-block">Enter required fields</small>
                               </h5>
                           </div>

                           <div class="panel-body">
                               <div class="form-group">
                                   <div class="row">
                                       <div class="col-md-6">
                                           <div class="form-group">
                                               {{ form_row(addNewsForm.title, {'attr': {class: 'form-control'}}) }}
                                           </div>
                                       </div>

                                       <div class="col-md-6">
                                           <div class="media-body text-center">
                                               {{ form_row(addNewsForm.file, {'attr': {'class': 'file-input-custom', 'data-show-upload': "false", 'data-show-caption': "false", 'accept': "image/*"}}) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>

                               <h6 class="col-lg-12 text-center"> Enter news </h6>

                               <div class="form-group">
                                   <div class="row">
                                       <div class="col-md-12 text-center no-margin-top">
                                           <div class="form-group">
                                               {{ form_row(addNewsForm.description, {'attr': {class: 'form-control'}}) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>

                               <div class="form-group">
                                   <div class="row">
                                       <div class="col-md-12">
                                           <div class="text-center">
                                               <button type="submit" class="btn btn-primary legitRipple" name="register_button">
                                                   Create <i class="icon-arrow-right14 position-right"></i>
                                               </button>
                                           </div>
                                       </div>
                                   </div>
                               </div>

                           </div>

                           {% for error in errors %}
                               <div style="padding-left:30px;">
                                   <p class="label label-danger">{{ error }}</p><br>
                               </div>
                           {% endfor %}
                       </div>
                       <!-- /tab-pane fade -->
                       {{ form_end(addNewsForm) }}
                   </div>
                   <!-- /content area -->
               </div>
               <!-- /page-container -->
           </div>
           <!-- /modal dialog -->
       </div>
       <!-- /modal fade -->
   </div>
{% endblock %}