{% extends 'base.html.twig' %}

{% block title %}Создание новости{% endblock %}

{% block body %}
        {{ form_start(addNewsForm)  }}
        <div class="content">
            <div class="panel center-block">
                <div class="panel-heading text-center">
                    <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
                        <h5 class="content-group">
                            Создайте новость
                        </h5>
                    </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                {{ form_row(addNewsForm.title, { attr: { class: 'form-control' } }) }}
                            </div>

                            <div class="media-body text-center">
                                {{ form_row(addNewsForm.file, { attr: { class: 'file-input'} }) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group pt-20">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_row(addNewsForm.description, { attr: { class: 'form-control summernote' } }) }}
                                </div>
                            </div>
                        </div>
                    </div>

                   <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn bg-success-600 legitRipple" name="register_button">
                                    Создать
                                    <i class="icon-arrow-right14 position-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                {% for error in errors %}
                    <div style="padding-left:30px;">
                        <p class="label label-danger">{{ error }}</p>
                        <br>
                    </div>
                {% endfor %}
            </div>
        </div>

        {{ form_end(addNewsForm) }}
{% endblock %}