{% extends 'base.html.twig' %}

{% block title %}Изменение новости{% endblock %}

{% block body %}
    {{ form_start(newsForm)  }}
    <div class="content">
        <div class="panel center-block">
            <div class="panel-heading text-center">
                <div class="icon-object border-success text-success-600"><i class="icon-pencil"></i></div>
                <h5 class="content-group">Изменение новости</h5>

            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 pb-20">
                            <div class="form-group">
                                {{ form_row(newsForm.title, { attr: { class: 'form-control' } }) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" {% if newsForEdit.imageUrl %} style="display: flex; align-items: flex-end" {% endif %}>
                            <div {% if newsForEdit.imageUrl %}class="col-md-6" {% else %} class="col-md-8 col-md-offset-2"{% endif %}>
                                <div class="media-body">
                                    {{ form_row(newsForm.file, { attr: { class: 'file-input'} }) }}
                                </div>
                            </div>

                            {% if newsForEdit.imageUrl %}
                                <div class="col-sm-6">
                                    <div class="text-center">
                                        <img class="news-img-edit"
                                             src="{{ asset('uploads/ImageForNews') }}/{{ newsForEdit.imageUrl }}"
                                        />
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_row(newsForm.description, {'attr': {class: 'form-control summernote'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn bg-success-600  legitRipple" name="register_button">
                                Обновить
                                <i class="icon-arrow-right14 position-right"></i>
                            </button>

                            <a href="{{ path('show_admin_news') }}" class="btn bg-slate-800 legitRipple">
                                Отмена
                                <i class="icon-cross2 position-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            {% for error in errors %}
                <div style="padding-left:30px;">
                    <p class="label label-danger">{{ error }}</p><br>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ form_end(newsForm) }}
{% endblock %}