<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/colors.css') }}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>


<body>

<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">

                <!-- Error content -->
                <div class="row">
                        <div class="text-center">
                                <div class="modal-dialog">

                                    <!-- Content area -->
                                    <div class="content pb-20">

                                        <!-- Tabbed form -->
                                        <div class="tabbable panel login-form width-400">
                                            <ul class="nav nav-tabs nav-justified nav-tabs-bottom">
                                                <li class="active"><a href="#basic-tab1" data-toggle="tab"><h6>Sign In</h6></a></li>
                                            </ul>

                                            <div class="tab-content panel-body">
                                                <div class="tab-pane fade in active" id="basic-tab1">
                                                    <form action="{{ path('security_login_check') }}" method="post">
                                                        <div class="text-center">
                                                            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                                                            <h5 class="content-group">Write your email for sign in<small class="display-block">You will have access to your personal data</small></h5>
                                                        </div>

                                                        <div ng-app="LoginFormStyleApp" ng-controller="ValidateController">
                                                            <div class="form-group has-feedback has-feedback-left">
                                                                <input ng-model="username" ng-change="usernameValid(username.length)" type="text" class="form-control" placeholder="Adminname" name="_username" required="required">
                                                                <div class="form-control-feedback">
                                                                    <i class="icon-user-lock text-muted" ng-class="validateUsername"></i>
                                                                </div>
                                                            </div>

                                                            <div class="form-group has-feedback has-feedback-left">
                                                                <input ng-model="password" ng-change="passwordValid(password.length)" type="password" class="form-control" placeholder="Password" name="_password" required="required">
                                                                <div class="form-control-feedback">
                                                                    <i class="icon-lock2 text-muted" ng-class="validatePassword"></i>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                                        <div class="form-group">
                                                            <button type="submit" id="login_btn" class="btn bg-pink-400 btn-block"> Login <i class="icon-arrow-right14 position-right"></i></button>
                                                        </div>
                                                    </form>

                                                    <span class="help-block text-center no-margin">By continuing, you're confirming that you've read our <a href="https://www.consolut.com/en/s/sap-ides-access/d/s/doc/YL-V_KONH_VKS/">Terms &amp; Conditions</a> </span>
                                                </div>

                                                <!-- /tab-pane fade -->
                                            </div>
                                            <!-- /content area -->
                                        </div>
                                        <!-- /page-container -->
                                    </div>
                                    <!-- /modal dialog -->
                                </div>
                                <!-- /modal fade -->
                            </div>
                </div>
                <!-- /error wrapper -->
            </div>
            <!-- Content area -->
        </div>
        <!-- Main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
<!-- Core JS files -->
<script type="text/javascript" src="{{ asset('assets/js/angular/angular.min.js') }}"> </script>
<script type="text/javascript" src="{{ asset('assets/js/angular/pagesstyle.js') }}"> </script>
<script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/pace.min.js') }}"> </script>
<script type="text/javascript" src="{{ asset('assets/js/core/libraries/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/core/libraries/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/blockui.min.js') }}"></script>
<!-- /core JS files -->


<!-- Core JS files -->
<script type="text/javascript" src="{{ asset('assets/js/core/app.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/pages/dashboard_boxed_full.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/plugins/ui/ripple.min.js') }}"></script>
<!-- /core JS files -->

</body>
</html>