{% extends 'base.html.twig' %}

{% block title %} Главная {% endblock %}

{% block body %}
    <h2 class="col-sm-12 text-center">ЭКОНОМИМ ЭЛЕКТРОЭНЕРГИЮ ПРАВИЛЬНО
        <small class="display-block"> Бережём энергию-сохраняем жизнь человечеству </small>
    </h2>

   <div class="content">

       {% for news in newsForEdit %}
           <!-- Invoice grid -->
           <div class="row">
               <div class="col-md-8 col-md-offset-2">
                   <div class="panel invoice-grid">
                       <div class="panel-body">
                           <div class="row">
                               <div class="col-sm-12">
                                   <h5 class="text-semibold no-margin-top"> {{ news.title }} </h5>
                               </div>

                               {% if news.imageUrl %}
                                  <div class="col-sm-12">
                                      <span class="no-margin-top">
                                          <img class="news-img"
                                               src="{{ asset('uploads/ImageForNews') }}/{{ news.imageUrl }}"
                                               alt="..."
                                          >
                                      </span>
                                  </div>
                               {% endif %}

                               <div class="col-sm-12">
                                   <p class="no-margin-top"> {{ news.description|raw }} </p>
                               </div>
                           </div>
                       </div>

                       <div class="panel-footer panel-footer-condensed">
                           <div class="heading-elements">
                                <span class="heading-text">
                                    <span class="status-mark border-success-600 position-left"></span>
                                    Дата создание:
                                    <span class="text-semibold"> {{ news.createdNews|date('Y-m-d') }} </span>
                                </span>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- /invoice grid -->
       {% endfor %}
   </div>
{% endblock %}