{% extends 'base.html.twig' %}

{% block title %} Экономия {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-justify">
                <h1 class="text-bold text-center">Как экономить электроэнергию: 25 простых, но работающих советов</h1>

                <p>
                    Сократить расход электроэнергии минимум на четверть абсолютно реально.
                    Гасите свет, мойте окна, не перегружайте стиральную машинку, замените лампочки накаливания…
                    Расчёты показали, что это по-настоящему выгодно.
                </p>

                <h2>Не тратьте свет впустую</h2>

                <p>
                    <ol class="list">
                        <li>

                            Гасите свет, переходя из комнаты в комнату. Установите тепловые датчики движения,
                            которые будут выключать свет за вас.
                        </li>
                        <li>
                            Используйте местное освещение: подсветки, торшеры, бра.
                            Например, чтобы каждый раз не включать основные источники света, в комнате лучше установить
                            подсветку из светодиодной ленты.
                        </li>
                        <li>
                            Помните, что чистота — залог экономии.
                            Грязные окна и пыльные плафоны снижают уровень освещённости впомещении до 35%.
                        </li>
                        <li>
                            При ремонте учитывайте, что светлые стены и мебель будут отражать до 80% световогопотока,
                            а тёмные — лишь около 12%.
                        </li>
                        <li>
                            Замените лампочки накаливания на энергосберегающие и светодиодные.
                            Замена только одной лампы позволит экономить около 1 000 рублей в год.
                        </li>
                    </ol>
                </p>

                <p>
                    Возьмём,
                    к примеру, Москву. 1 кВт·ч в столице стоитТарифы на электрическую энергию для населения
                    и приравненных к нему категорий потребителей на территории г. Москвы, за исключением Троицкого
                    и Новомосковского административных округов  5,38 рубля.
                    Представим, что в трёх квартирах по восемь часов в сутки горят три лампочки: светодиодная,
                    энергосберегающая и накаливания. Для более объективной картины выберем лампы такой мощности,
                    чтобы они давали примерно одинаковый уровень освещённости. И вот что мы получим.
                </p>

                <div class="panel panel-flat bg-pink-600">
                    <div class="panel-heading">
                        <h3 class="panel-title">Сравнительная таблица разных видов ламп</h3>

                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse" class=""></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr style="font-size: 16px">
                                <th>Вид лампы</th>
                                <th>Светодиодная</th>
                                <th>Энергосберегающая</th>
                                <th>Накаливания</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Потребляемая мощность, кВт</td>
                                <td>0,013</td>
                                <td>0,025</td>
                                <td>0,1</td>
                            </tr>
                            <tr>
                                <td>Ресурс лампы, часы</td>
                                <td>50 000</td>
                                <td>8 000</td>
                                <td>1 000</td>
                            </tr>
                            <tr>
                                <td>Стоимость лампы, руб.</td>
                                <td>248	200</td>
                                <td>11</td>
                                <td>0,549</td>
                            </tr>
                            <tr>
                                <td>
                                    Стоимость часа эксплуатацииСтоимость часа эксплуатации =
                                    тариф × мощность + стоимость лампы ⁄ ресурс , руб.
                                </td>
                                <td>0,0749</td>
                                <td>0,1595</td>
                                <td>—</td>
                            </tr>
                            <tr>
                                <td>
                                    Часовая экономияЧасовая экономия = стоимость эксплуатации лампы накаливания − стоимость
                                    эксплуатации сравниваемой лампы , руб.
                                </td>
                                <td>0,4741</td>
                                <td>0,3895</td>
                                <td>—</td>
                            </tr>
                            <tr>
                                <td>
                                    Срок окупаемостиСрок окупаемости в часах = (стоимость лампы − стоимость лампы накаливания)
                                    ⁄ часовая экономия , часы
                                </td>
                                <td>499,89</td>
                                <td>485,24</td>
                                <td>—</td>
                            </tr>
                            <tr>
                                <td>Срок окупаемостиСрок окупаемости в днях = срок окупаемости в часах ⁄ 8 , дни</td>
                                <td>62,49</td>
                                <td>60,65</td>
                                <td>—</td>
                            </tr>
                            <tr>
                                <td>
                                    Годовая экономияГодовая экономия = (8 × 365 −
                                    срок окупаемости в часах) × часовая экономия , руб.
                                </td>
                                <td>1147,37</td>
                                <td>948,34</td>
                                <td>—</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <p>
                    Получается, что через два месяца одна энергосберегающая лампа позволит вам ежечасно экономит
                    40 копеек, а 10 лампочек — 4 рубля.
                </p>

                <h2>Правильно пользуйтесь электроприборами</h2>

                <p>
                    <ol class="list">
                        <li>
                            При отсутствии двухтарифного счётчика электроэнергии отключайте все неосновные электрические приборы на ночь, а зарядные устройства — после полной подпитки техники.
                        </li>
                        <li>
                            Холодильник необходимо регулярно размораживать, если в нём нет специальной системы No Frost. Проследите, чтобы устройство стояло как можно дальше от отопительных приборов и обеспечивалась естественная вентиляция задней стенки. Ставьте в него только остывшую посуду!
                        </li>
                        <li>
                            Отслеживайте работоспособность конфорок электрической плиты и ставьте на них только подходящую по размеру посуду с ровным дном.
                        </li>
                        <li>
                            Накрывайте кастрюли и сковородки крышками: они уменьшают потерю тепла почти в три раза.
                        </li>
                        <li>
                            Старайтесь не перегружать стиральную машину (чрезмерная загрузка увеличивает расход электричества до 10%) и использовать средний температурный режим. На стирку при 30 градусах тратится на 35% меньше энергии, чем на стирку при 40 градусах.
                        </li>
                        <li>
                            Используйте электрический чайник вместо электроплиты для разогрева воды. Так будет гораздо экономичнее. Кипятите только тот объём жидкости, который нужен в данный момент.
                        </li>
                        <li>
                            Регулярно проводите чистку вентиляторов и фильтров кондиционера.
                        </li>
                        <li>
                            Вещи, требующие низкого температурного режима, гладьте после выключения утюга.
                        </li>
                        <li>
                            Не оставляйте технику, в том числе микроволновки, телевизоры, компьютеры, сканеры, принтеры, модемы, в режиме ожидания. Это позволит сэкономить более 200 кВт в год.
                        </li>
                        <li>
                            Используйте электрические розетки с таймером.
                        </li>
                    </ol>
                </p>

                <h2>Покупайте энергосберегающую бытовую технику</h2>

                <ol class="list">
                    <li>
                        Все электрические приборы маркируются латинскими буквами от A+++ до G. Выбирайте технику с низким классом энергопотребления, маркированную A и B.
                    </li>
                    <li>
                        Покупайте приборы, в которых используются новейшие технологии экономии электроэнергии. Например, всё более популярными становятся индукционные варочные панели, нагревающие только дно посуды и не растрачивающие энергию впустую. КПД таких плит доходит до 95%!
                    </li>
                </ol>



                <h2>Установите двухтарифный счётчик</h2>

                <ol class="list">
                    <li>
                        Двухтарифный счётчик позволяет экономить по ночам. Такие счётчики выгодны тем, кто может использовать энергоёмкие бытовые приборы: посудомоечную и стиральную машины, хлебопечку — с 23.00 до 7.00. В среднем счётчик окупает себя за год.
                    </li>
                </ol>


                <h2>Не тратьте тепло зря</h2>

                <ol class="list">
                    <li>
                        Вместо традиционного обогревателя используйте кондиционер, настроенный на режим обогрева. Если это позволяет производитель, конечно. Многие кондиционеры нельзя использовать при отрицательных температурах.
                    </li>
                    <li>
                        Инфракрасный обогреватель экономичнее остальных на 30–80%.
                    </li>
                    <li>
                        Если в доме установлены электрические батареи, старайтесь содержать их в чистоте, чтобы пыль не поглощала часть тепла, а вам не приходилось увеличивать температурный режим.
                    </li>
                    <li>
                        Используя водонагреватель, уменьшите температуру нагрева воды.
                    </li>
                    <li>
                        Замените накопительный водонагреватель на проточный. Так вы не будете тратить электроэнергию на постоянное поддержание определённой температуры воды.
                    </li>
                    <li>
                        Нагревайте воду только при необходимости. Отключайте бойлер от электросети, когда уходите из дома и по ночам.
                    </li>
                    <li>
                        Раз в три месяца чистите водонагреватель от накипи, которая увеличивает расход электроэнергии на 15–20%.

                        <ul class="list">
                            <li>
                                Отключите аппарат от сети и перекройте подачу воды.
                            </li>
                            <li>
                                Полностью слейте воду.
                            </li>
                            <li>
                                Снимите крышку бойлера, осторожно отсоедините провода и выкрутите термореле.
                            </li>
                            <li>
                                Раскрутите гайки, удерживающие фланец. Подтолкните фланец вверх, проверните и вытащите наружу.
                            </li>
                            <li>
                                Теперь можно очистить нагревательный элемент металлической щёткой. Избавиться от налёта поможет и раствор уксусной кислоты и горячей воды (1 : 5). Просто поместите в него ТЭН на 30 минут и следите за тем, чтобы уплотнительная резина не соприкасалась с кислотой.
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}